@import url(https://fonts.googleapis.com/css?family=Ewert|Special+Elite|Creepster);

/*color: #ff2c71; color: #ff2846;*/

body 				{ height: 100vh; background-color: #000; background-image: url(/images/me-in-russia.jpg); background-size: cover; background-position: center; margin: 0; overflow: hidden; }
.full-height 			{ }
.flex-center 			{ justify-content: center; }
.position-ref 			{ position: relative; }
.top-right 			{ position: absolute; right: 10px; top: 18px; }
#main .title h1 		{ text-align: center; }
.links > a 			{ color: #636b6f; padding: 0 25px; font-size: 12px; font-weight: 600; letter-spacing: .1rem; text-decoration: none; text-transform: uppercase; }
div.info 			{ height: 80vh; width: 110vh; max-width: 90vw; margin: auto; /*background-color: black;*/ background-size: cover; background-position: center; padding: 10px; }
p, a 				{ font-family: 'Special Elite', serif; font-size: 25px; color: white; text-shadow: 1px 1px 4px #4d4d4d; text-align: left; position:relative; z-index: 1; text-decoration: none; }
a:hover 			{ color: #ff2846; }
h1 				{ font-family: 'Ewert', cursive; text-shadow: 2px 2px 8px black; margin-top: 0; margin-bottom: 5vh; /*font-size: 10vh;*/ font-size: 57px; color: #de0b28; }
img 				{ position: absolute; bottom: 0; width: 70%; left: 15%; }

ul 				{ padding-left: 0; }
ul li				{ list-style-type: none; }
.dropdown 			{ display: none; }
li.portfolio 			{ cursor: pointer; position: relative; }
.portfolio:hover .dropdown 	{ display: inline-block; }
li.portfolio .dropdown		{ position: absolute; top: 10px; left: 405px; }