@import url('https://fonts.googleapis.com/css?family=Parisienne|Playfair+Display+SC');

body {
    background-image: url(../images/annie-spratt-370997-unsplash-min.jpg);
    /* image credit: Annie Spratt */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

div.container {
    border: #bf0505 3px solid;
    padding: 7px;
    max-width: 400px;
    margin: auto;
    overflow: scroll;
    max-height: calc(100vh - 20px);
}

div#main {
    border: #bf0505 3px solid;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.alert ul {
    padding-left: 5px;
    padding-right: 5px;
}

div.alert li {
    color: #bf0505;
    font-family: 'Playfair Display SC';
    list-style: none;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    color: #bf0505;
    font-family: 'Playfair Display SC';
}

h2, h3 {
    font-family: 'Parisienne';
    color: #4a4a4a;
}

h2 {
    letter-spacing: 0.03em;
    font-size: 32px;
}

p {
    font-family: 'Parisienne';
    color: #4a4a4a;
    letter-spacing: 0.03em;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

p strong {
    color: #bf0505;
}

p em {
    font-size: 22px;
    font-style: unset;
}

div.serif.details p {
    text-align: left;
}

input, textarea, p.serif, div.serif p {
    font-family: Georgia, serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    text-align: center;
}

a, button {
    font-family: 'Playfair Display SC';
    font-size: 14px;
    display: block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 116px;
    background-color: #bf0505;
    padding: 10px;
    border: 2px solid #bf0505;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

a.secondary {
    border: 2px solid #bf0505;
    color: #bf0505;
    background-color: white;
}

a:hover, button:hover {
    background-color: #5c6096;
    border-color: #5c6096;
    color: white;
}

input, textarea {
    display: block;
    width: 80%;
    border: none;
    border-bottom: 2px #bf0505 dotted;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px; 
}

hr {
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

hr.styled::after, hr.styled {
    content: "💌";
    text-align: center;
    font-size: 24px;
}

.hidden { display: none; }

.disabled {
    border: none;
    color: black;
}

@media (any-hover: none) {
    #copy-button { display: none; }
}
