@import url(https://fonts.googleapis.com/css?family=Ewert|Tajawal);

div.guest div, div.absent div {display: inline-block;}

div.guest {
    border: 2px solid #bf0505;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.id p {
    font-weight: 600;
    background-color: #bf0505;
    color: white;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

div.plus-one-id p {
    color: #bf0505;
    font-weight: 600;
}

div.fact p {
    font-style: italic;
}